#d{
    background-color: darkcyan;
}
  
.custom{
    padding: 4%;
    text-align: center;
    color: whitesmoke;
    
}
.spas{
    float: right;
    margin-left: 2%;
}
.close{
    cursor: pointer;
}
.foo{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.bol{
    font-weight: 500;
    cursor: pointer;
}

