#d{
    background-color: darkcyan;
}
  
.custom{
    padding: 4%;
    text-align: center;
    color: whitesmoke;
    
}
.spas{
    float: right;
    margin-left: 2%;
}
.close{
    cursor: pointer;
}
.foo{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bol{
    font-weight: 500;
    cursor: pointer;
}
@media(max-width:800px){
    .ds{
        position: relative;
        bottom : -47px;
    }
    .cs{
        position: relative;
        bottom : -50px;
    }
    
}
